:root {
    --color-principal: rgb(241, 117, 45);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body{
    margin: 0;
    font-family: sans-serif;
    width: 100%;
    position: relative;
    /*Para incrementar el tamaño*/
    min-height: 100vh;
}