
/* --------------- Encabezado --------------- */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    background-color: var(--color-principal);
    align-items: center;
    padding: 10px;
    flex-direction: column;
    text-align: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.logo a{
    text-decoration: none;
    color: black;
}

.nombre-banco{
    margin: 5px 0;
}


/* --------------- Menu lateral --------------- */

.sidebar {
    width: 200px;
    background-color:#f4f4f4;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    text-decoration: none;
    color: #dd5800;
    font-weight: 600;
    display: block;
    padding: 16px;
}

.sidebar a.active {
    /* background-color: #fa8f2c; */
    background-color: #fc843f;
    color: #f1f1f1;
}

/* hover */
.sidebar a:hover:not(.active) {
    background-color: #ffe2ce;
    /* color: white; */
}


/* --------------- Area principal --------------- */

.main-section .content {

}


/* --------------- Pie de página --------------- */

footer{
    position: absolute;
    display: flex;
    background-color: var(--color-principal);
    width: 100%;
    bottom: 0;
    left: 0;
    /*Para incrementar el tamaño*/
    padding: 1.75rem 8%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer ul li {
    text-decoration: none;
    list-style: none;
}

/* -------------------------------------- */

/* pantallas de menos de 700px */
@media(max-width:700px){
    .logo{
        display: block;
    }
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    footer{
        padding: 1.25rem 2%;
    }
}

/* pantallas de menos de 400px */
@media(max-width: 400px){
.sidebar a {
    text-align: center;
    float: none;
}
}