{% extends 'base.html' %}

{% block content %}
    <h2>Detalles del Cliente</h2>
    <ul>
        <li><strong>Nombre:</strong> {{ nombre }}</li>
        <li><strong>Apellido:</strong> {{ apellido }}</li>
        <li><strong>DNI:</strong> {{ dni }}</li>
        <li><strong>Fecha de Nacimiento:</strong> {{ fecha_nacimiento }}</li>
        <li><strong>Banco:</strong> {{ banco }}</li>
        <li><strong>Tipo:</strong> {{ tipo_cliente }}</li>
</ul>

<a href="{% url 'list_client_accounts' cliente_id=cliente_id %}">
    <button type="button">Ver cuentas</button>
</a>
<a href="{% url 'list_client_cards' cliente_id=cliente_id %}">
    <button type="button">Ver tarjetas</button>
</a>
{% endblock %}
