<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Cliente</title>
</head>
<body>
    <h2>Detalles del Cliente</h2>
    <ul>
        <li><strong>Nombre:</strong> {{ nombre }}</li>
        <li><strong>Apellido:</strong> {{ apellido }}</li>
        <li><strong>DNI:</strong> {{ dni }}</li>
        <li><strong>Fecha de Nacimiento:</strong> {{ fecha_nacimiento }}</li>
        <li><strong>Banco:</strong> {{ banco }}</li>
        <li><strong>Tipo:</strong> {{ tipo_cliente }}</li>
    </ul>
</body>
</html>